PORT=5000
LOG_CLIENT_ID=your_client_id_here
LOG_CLIENT_SECRET=your_client_secret_here
LOG_API_BASE=http://20.207.122.201/evaluation-service
NOTIFICATIONS_API_BASE=http://20.207.122.201/evaluation-service
